<h2 id="軽快さと自由を求めて行った先は地獄だった">軽快さと自由を求めて行った先は地獄だった</h2>
<p>現在のPCになる前はRyzen(Zen3)で組んでいた。いかんせん流用品が多く、経年劣化の懸念もあった。
折角スペックが良かったそのPCをバラして売却、それで得たわずかな資金でHPのワークステーションを血眼で探して購入した。</p>
<p>そのスペックは以下の通り。</p>
<table>
<thead>
<tr>
<th>製品・各パーツ</th>
<th>内容</th>
</tr>
</thead>
<tbody>
<tr>
<td>製品名</td>
<td>HP Z2 SFF Workstation G4</td>
</tr>
<tr>
<td>CPU</td>
<td>Intel Xeon-E 2124G</td>
</tr>
<tr>
<td>RAM</td>
<td>ECC UDIMM 8GB（シングル）</td>
</tr>
<tr>
<td>SSD</td>
<td>256GB NVMe</td>
</tr>
<tr>
<td>GPU</td>
<td>Intel Graphics 630（RAMから1GB拝借）</td>
</tr>
<tr>
<td>HDD</td>
<td>HGST DC310 4TB</td>
</tr>
</tbody>
</table>
<p><strong>正直、この内容はWindows11には厳しい。</strong>
序盤・中盤・終盤隙だらけ。</p>
<p>プロセッサは頑張ってくれるが、RAMとSSDの容量が明らかにきつい。
しかも内蔵グラフィックがRAMから1GB持っていくので、実効は7GBほどしかない。</p>
<p>価格高騰が凄まじい中で満足の行くスペックのPCを手に入れるのは本当に難しい。</p>
<h3 id="linuxに移行しようとしたきっかけ">Linuxに移行しようとしたきっかけ</h3>
<p><strong>「Coursera」</strong> という学習プラットフォームがある。
自分はその科目のうち、Google公式資格コースの一部を無料で手に入れた。
AI関連2つと、サイバーセキュリティと、データサイエンス。</p>
<p>ただ、学習をするにあたって、障壁となったものがある。
それは、<strong>Windows11とChromeの動きの緩慢さ。</strong></p>
<p>そこで気づいた。<strong>このPCでWindows11は戦いづらい。</strong></p>
<p>そこで敢行したのが、<strong>「Linuxへの移行」</strong> だった。</p>
<p>実は昨年からLinuxは気になっていた、先代の自作PCでは、話題のZorinやMintはもちろん、Fedora（KDE Plasma/Workstation）、RHEL（無料版）、Ubuntuなど色々触っていた。</p>
<p>腕に覚えはある。</p>
<p>善は急げといわんばかりに、前から気になっていたディストリビューションのISOをダウンロードし、Ventoyに入れた。</p>
<p>それは、<strong>「Rocky Linux 10.1」</strong> だった。</p>
<h4 id="zorinやmintはつまらない">ZorinやMintはつまらない</h4>
<p>2026年現在、Windowsからの移行なら、<strong>「Zorin OS」</strong> や、<strong>「Linux Mint」</strong> などが候補に挙がるだろう。</p>
<p>ただ、あれらはとにかく <strong>「面白くない」</strong> の一言だ。
言ってしまえば、<strong>「腑抜けた」ディストリビューションの二大巨頭。</strong></p>
<p>初学者にとってはいいのかもしれない。</p>
<p>しかし、<strong>Linuxの「牙」を引っこ抜いて</strong> 万人向けに仕上げてしまっているので、個人的に<strong>全然魅力を感じなかった。</strong></p>
<p>そんなわけで、RHEL系を積極的に選んでいた。
Debian系は後に触るが後述。</p>
<p>Rocky Linuxのインストールは極めて順調に進んだ。
しかし、そこからが<strong>前途多難だった。</strong></p>
<h3 id="もはやwindowsより悪質なlinuxの困った習慣">もはやWindowsより悪質なLinuxの困った習慣</h3>
<p>自分は動画編集ソフトとして、<strong>「DaVinci Resolve」</strong> を愛用している。
幸いにもこれはLinuxにも対応している。</p>
<p>そんなわけで、インストールを試みたところ、<strong>「依存関係のパッケージが無い」</strong> と駄々をこねられる。</p>
<p>Windows版の場合は、必要なものはインストーラーに入っている。
<strong>Visual C++ 再頒布パッケージ</strong>が今回でいう依存関係に近い。
つまり勝手に入ってくれるわけだ。</p>
<p>そんなわけで、指示されたものを入れたが、まだ「足りない」と言われる。
それを解決するためにリポジトリを追加し、パッケージを入れようとすると、
<strong>「そんなものは無い」</strong> と言われる。</p>
<p>そして、そのパッケージを探そうとするのにも難儀した。</p>
<p>本来は、UbuntuやFedoraなど、メジャー級のLinuxディストリビューションのパッケージには、<strong>「これ1個で依存関係が大体カバーできる」</strong> みたいなパッケージがある。</p>
<p>しかし、<strong>バージョンが1個上がるとリポジトリから「消える」</strong> のだ。</p>
<p>Web検索をしても、AIに聞いても、同じパッケージを入れろと言われる。</p>
<p>バージョンを明記しても同じ。</p>
<p>仕方なく、残り1個の依存関係はGitHubからクローンをしてビルド、そしてインストールが完了した。</p>
<p><strong>しかし、動かない。</strong>
IntelのiGPUが認識されず、動画編集ができない。
そのためのパッケージを入れようとしても、また <strong>「そんなものは無い」</strong> と言われる。</p>
<p>ドライバーやコンポーネント類を整理しようと試みる。
すると、GPU関連のコンポーネントが<strong>消えたり無効化されたりして、GUIが動かなくなる。</strong>
修復手段は、<strong>Ctrl+Alt+F3</strong>でCLIに飛んで、Intel関連パッケージを入れて、再起動する。</p>
<p>これを繰り返して挙句、GPUは認識しなかったので、Resolveはあきらめた。</p>
<p>ちゃんと使うにはdGPUが必要ということだろう。</p>
<p>また、<strong>H.264/AAC</strong>で動画を書き出すのは<strong>無料版では不可能</strong>だと後に判明した。嘘でしょ・・・</p>
<h3 id="十数年ぶりに味わったフリーズそして使っていくうちに自然に不安定に">十数年ぶりに味わった「フリーズ」、そして使っていくうちに自然に不安定に</h3>
<p>まだまだ終わらない。
何の作業だったか忘れたが、システム設定周りを少し触ったら<strong>フリーズした。</strong></p>
<p>エラーメッセージもなく、ただ沈黙した。</p>
<p>OSを起動中に電源ボタンを長押しした経験は、Windows10やmacOSでも体感したことがなかった。実に十数年ぶりだ。</p>
<p><strong>これはもうギャグとしか言いようがない。</strong> なので今後さんざん擦り倒していくことにした。</p>
<p>これはかつてFedoraでも体感したことだが、<strong>使っていくうちにどんどん不安定になっていく</strong>のだ。</p>
<p>動作が引っかかったりフリーズしたり、エラーをことごとく吐いたりする。
この現象は、<strong>昔のメルセデス・ベンツの「自重でエアサスが壊れる」</strong> 様に似ている。</p>
<p>90年代のメルセデスSクラス（W140系）は、堅牢で、硬く、そして重い。
それが<strong>自らの足回りを傷めつけ、最終的に故障する。</strong>
おそらく修理費はまともにディーラーに出したら4輪100万円ほどだろう。
こちらはメルセデスの車体のように金がかからないが、<strong>時間を浪費する。</strong></p>
<p>他にもRHELはアプリケーションのインストール方法が提供されていないなどの不都合が生じたので、次に行くことにした。</p>
<h3 id="次の選択それはlinuxに見切りをつけた決定打">次の選択、それはLinuxに見切りをつけた決定打</h3>
<p>次に手を出したのは情報の多いDebian系。しかしUbuntuではない。源流の <strong>「Debian」</strong> だ。
実は海外の動画を情報収集に使っていたのだが、Ubuntuはsnapだか言うパッケージがとにかく厄介だと聞いていた。</p>
<p>そんな厄介ごとは御免こうむるので、<strong>Debian 13</strong>を選定した。</p>
<p>ほぼ手ぶらでインストール作業が終わったそれは、「ついにベストを見つけた」という手ごたえがあった。
しかし、DebianだRHELだArchだの前の <strong>「根本的なもの」</strong> に苦しめられることになった。</p>
<h3 id="精神を蝕み時間を浪費させたpipewireとflatpak">精神を蝕み、時間を浪費させた「Pipewire」と「Flatpak」</h3>
<p>動画編集ソフトもさることながら、自分は音楽制作ソフトも触る。</p>
<p>最近はご無沙汰だが、カバー曲の歌唱やリビルド、そして今回は動画のBGMの制作のためにDAWを使うのだ。</p>
<p><strong>この「音楽制作」のハードルの高さが、Linuxに見切りをつける大きな要因となった。</strong></p>
<h4 id="pipewireネイティブは限られたソフトのみ">Pipewireネイティブは限られたソフトのみ</h4>
<p>前説を挟むと、<strong>「Pipewire」</strong> というのは、Windowsでいう <strong>ASIO</strong>、macOSでいうところの<strong>CoreAudio</strong>に相当する。</p>
<p>LinuxにはほかにもPulseAudioだのALSAだのあるが、どうも今はPipewireを推しているようだ。</p>
<p>正直これは、YouTubeを見たりする分には問題はなかった。</p>
<p>しかし、<strong>DAWとなると話が違う。</strong></p>
<p>Pipewireがネイティブで動くのは商用ソフトの <strong>「BitWig Studio」</strong> と <strong>「Fender Studio Pro」</strong> くらいなのだ。
あとはPipewireで直接鳴るわけではなく、<strong>「JACK」</strong> というものを経由して音を鳴らす仕組みだ。</p>
<p>Linuxに対応しているDAWの中でも、<strong>「Zrythm」</strong> と <strong>「REAPER」</strong> の2つは、自分を大層苦しめた。</p>
<p>Zrythmはどう足掻いても音が鳴らず、MIDIキーボードも認識しない。
そこでREAPERを試してみたらさらに地獄だった。</p>
<p>ここで <strong>「Flatpak」</strong> が関係してくる。</p>
<p>Flatpakはさらっとしか調べないまま使っていたが、<strong>「Linuxの系統を問わず動く」</strong> ことと、<strong>「依存関係が内包されたサンドボックス環境」</strong> であることが利点のようだ。</p>
<p>後にわかったことだが、Microsoft Storeアプリが少し似ているなと思った。</p>
<p>自分にとっては、<strong>特に後者は弱点でしかなかったが。</strong></p>
<p>REAPERは公式サイトで配布されているパッケージと、Flatpakの2種類がある。</p>
<p>公式サイトのパッケージでは <strong>日本語化はされてもPipewireが動かず</strong>、</p>
<p>Flatpakでは <strong>音が鳴るが日本語ファイルやフォントが適用されない。</strong></p>
<p>結局動作が確認できたのは、はるかに高額だがPipewireがネイティブで動く、<strong>「BitWig Studio」</strong> の試用版だった。</p>
<p>そして、少しばかり足掻いてみたが、ついにとどめを刺された出来事があった。</p>
<h3 id="自由のために財産を捨てるという馬鹿らしさ">「自由」のために「財産」を捨てるという馬鹿らしさ</h3>
<p>自分は <strong>「fabfilter Pro-Q 3」</strong> というパラメトリックイコライザを愛用している。</p>
<p>まだ1ドル120円台だった頃、日本代理店では<strong>3万円程度するものが、海外サイトで2万円弱で手に入る</strong> セールがあったので、そこで手に入れたものだ。</p>
<p>次期バージョンのPro-Q 4が出ているが、円安でアップグレードをためらっている品である。</p>
<p>ほかにも、<strong>「Plugin Alliance」</strong> や、<strong>「Universal Audio」</strong> など、様々なメーカーのプラグインで愛用している品は複数ある。</p>
<p>それらは普通に購入したり、無料で手に入ることもあった。UAのプラグインは大体それだ。</p>
<p>これらをはじめとした商用プラグインは主に、というかほぼ99%と言っていいほど<strong>WindowsかMac用に作られている。</strong></p>
<p>同じ「.vst3」や「.clap」でも、使用できるOSは分けられている。
現に互換レイヤーを通じてインストールをして使用を試みたプラグインは、
<strong>Windows用であることを示すアイコンが表示され、当然使用できなかった。</strong></p>
<p>ここで自分は<strong>はっきりと見切りをつけた。</strong>
これまでWindowsやMac上で使ってきたプラグインが軒並み使えない。つまりは、</p>
<p><strong>「自由を手に入れるために私有財産を捨てろ」</strong> という通告に他ならなかった。</p>
<p>「ああ、もうこれダメだわ」と感じ、MSのサイトからisoを落とし、Ventoyに入れ、Windows11に戻った。</p>
<p>ちなみに、Windows11のセットアップはLinuxの環境構築より爆速で終わった。
<strong>プリイン削除・余計な機能のオフ・ResolveやDAW関連から開発やMarkdownエディタのインストール、ブラウザやパスマネの設定まで4時間で済んだ。</strong></p>
<h2 id="自由とは何なのか">「自由」とは何なのか</h2>
<p>さて、ここまで格闘して最後に投げ出した顛末を書いてきた。</p>
<p>これらを通して改めて思った。</p>
<p><strong>「自由」というのは、いったい何なんだろうか。</strong></p>
<ul>
<li>
<p>折角ライセンスを持っている商用OSを捨て、それよりも選択肢が狭まるOSを使う。</p>
</li>
<li>
<p>商用OSで使用していたソフトやプラグインを捨て、代替品にもならない無料の品々で何とかこねくりまわす。</p>
</li>
<li>
<p>WindowsやMacではファイルを開いたり、アプリケーションフォルダにドラッグすればインストールできるものを、わざわざ依存関係を探し出し、それでも駄目ならビルドをかけ、何時間も浪費する。</p>
</li>
<li>
<p>Flatpakの権限とPipewireの仕様に振り回される。</p>
</li>
<li>
<p>日本語環境を構築する選択肢があまりにも多く、最適解をいちいち調べて導入する。</p>
</li>
<li>
<p>加熱式タバコのデバイスのファームアップができず、改善の恩恵にあずかれないまま使いづづける。</p>
</li>
<li>
<p>スマートフォンとの連携アプリはあるが、反応せず、連携は寸断される。</p>
</li>
</ul>
<p>これらも選択肢のひとつだろう。</p>
<p><strong>だが自分は、まっぴらごめんだ。</strong></p>
<h3 id="人々が商用osやソフトを選ぶ理由">人々が商用OSやソフトを選ぶ理由</h3>
<p>WindowsやMacといった商用OS。</p>
<p><strong>MS Office・AutoCAD・Adobe Creative Cloud・Avid ProTools</strong> など、デファクトスタンダードとなり続けている商用ソフト。</p>
<p><strong>VEGASやEDIUS、VOICEROID</strong> など、Windowsでしか動かないソフト。</p>
<p><strong>ソシャゲのPC版（DMM）やマルチプレイのFPS</strong> など、アンチチートやDRMで縛られているゲーム。</p>
<p><strong>これらを使い続けている人がいる。</strong></p>
<p>それは仕事のためであったり、趣味であったり、やむを得ない事情だったり、背景は様々だ。</p>
<p>しかし、それを <strong>「選ばされている」という言葉で一括りにするのを自分は好まない。</strong></p>
<p>最近YouTubeのコメント欄でこのような言説を見かけるが、<strong>そのたびに反吐が出る。</strong></p>
<p>OSやソフトウェアは元々、仕事でもない限り <strong>「強制的に使わされる」ものではない。</strong></p>
<p>じゃあ、なぜ商用OSやソフトを選ぶのか？</p>
<p><strong>ある者は、何かを作り、披露するため。</strong></p>
<p><strong>ある者は、自らが抱いた野望や情熱や発想を落とし込むため。</strong></p>
<p><strong>ある者は、挑戦者の屍が積まれた高い壁に挑むため。</strong></p>
<p><strong>またある者は、誰かが紡いだ物語に思いを馳せるため。</strong></p>
<p>彼らは、<strong>決してOSやソフトのベンダーに服従していない。</strong></p>
<p><strong>創作・ゲーム・仕事・新しい挑戦。
そのために、その選択肢を選んでいる。自分もまたその一人だ。</strong></p>
<p>自分は今日もまた、Windows11を使う。</p>
<p><strong>それはすべて、自分にとって「居心地の良い」空間で、イマジネーションを働かせ、閃きを具現化し、新しいものに挑戦するために。</strong></p>
<h2 id="結びと警鐘">結びと警鐘</h2>
<p>安易にLinuxを勧める人たちがいる。</p>
<p>その誘い文句は、 <strong>「自由・無料・フリー・オープンソース」</strong> のほかに、
<strong>「追跡されない・新機能を押し付けられない・余計なことをしない」</strong>
という文言が最近、追加されている。</p>
<p>確かにWindows11はごちゃごちゃといろいろ入っている。</p>
<p><strong>ただ、それらは消してしまえばいい。</strong></p>
<p>Copilotが入った余計なメモ帳やペイントの代替品はいくらでもある。</p>
<p>フォトもメディアプレイヤーも必要ない。IrfanViewとMPC-BEでもあればいいだろう。</p>
<p>OneDriveはいの一番に<strong>同期を切るか、アンインストールする。</strong></p>
<p>テレメトリーや押しつけがましい通知は、<strong>トグルボタンでおおかた消える。</strong></p>
<p>macOSはプリインストールアプリのほとんどが消せないが、<strong>設定がほぼ統一されていて、かゆいところにも手が届く。</strong></p>
<p>対応のゲームタイトルは少ないが、創作をするならひとつの選択肢になる。</p>
<p>ひととおり設定して満足がいかないなら、GeminiやChatGPTにでも聞いてみて、方法を模索できる時代だ。</p>
<p>それすらままならないのであれば、もはや<strong>PCを捨ててスマートフォンやタブレットに移行してしまう</strong>のも一つの手だろう。
iPadやAndroidタブレットはLinuxより遥かに多目的な用途に <strong>「安定して」</strong> 使える。</p>
<h3 id="linuxを使おうと思っている人へ">Linuxを使おうと思っている人へ</h3>
<p>Linuxは、<strong>設計思想も、その結果も違う「別世界」のものだ。</strong></p>
<p>本来はライトユーザーが気軽に使えるものではない。</p>
<p>いくらグラフィカル部分が多くなっても、<strong>コマンドを打ったほうが「話が早い」作りになっている。</strong></p>
<p>そして、Windows・macOS・iOS・Androidで誰もが使うアプリは<strong>使えないもののほうが圧倒的に多い。</strong></p>
<p>それでも使おうとするなら止めはしない。</p>
<p>Linuxに限らず、<strong>新しいものに触れるのに必要なのは「知識」ではない。「覚悟」と「探求心」だ。</strong></p>
<p>使うことによって<strong>新しい知見が生まれることもある。これは確かだ。それはもう説明しきれないほどに。</strong></p>
<p>そして、<strong>「もっと知りたい」と、動画や書籍を漁ったり、AIチャットにひたすら質問したりする。</strong></p>
<p>そうして得た知見の集合体は、<strong>OSやソフトのライセンス、高価な機材などをはるかに陵駕する「資産」だ。</strong></p>
<p>言ってしまえば、この記事に記した<strong>さんざんLinuxに振り回された経験も、自分の「資産」のひとつだ。</strong></p>
<h3 id="windowsをこき下ろしlinuxを持ち上げる人々へ">Windowsをこき下ろし、Linuxを持ち上げる人々へ</h3>
<p>ひとつ、忠告をしておく。これは、どこの界隈でも問わず、どのカテゴリのオタクでも胸に刻まれているであろう言葉だ。</p>
<p><strong>自分が使っている、気に入っているものを上げるために、他の物を下げる。</strong></p>
<p><strong>この言動は、害悪以外の何物でもない。</strong></p>
<p>そして勘違いしないでいただきたいのは、この記事はネガキャンではない。
<strong>自分が眼前に突き付けられた、純然たる事実だ。</strong></p>
<p><strong>「自分はLinuxデスクトップで困っていない」</strong> と言っている方へ。</p>
<p>世の中には、<strong>Linuxデスクトップでは困る人のほうが大勢いるのが現実だ。</strong></p>
<p><strong>GIMPやKdenlive、Ardourではまともに仕事が出来ない人が多数だ。</strong></p>
<p>中には、Webベースであっても、<strong>User-Agentを偽装したりの小手先程度は対策されているものも存在する。</strong></p>
<p>自分は、今後の夢物語の実態を確かめに一歩踏み出した。</p>
<p>しかし、<strong>そこに広がっていたのは残酷な現実だった。</strong></p>
