<h2 id="2026-年光熱費との戦いに新兵器新凶器">2026 年、光熱費との戦いに新兵器（新凶器？）</h2>
<p>クリスマス終わりの 2025 年 12 月、以前からすごく気になっていた暖房器具を導入しました。<br />
それは・・・</p>
<p><strong>「デロンギ　マルチダイナミックヒーター」</strong> です。
<img src="/images/posts/delonghi-mdh-conquer/mdh-i.webp" alt="picture"></p>
<h3 id="prレンタルした製品の-amazon-リンク">【PR】レンタルした製品の Amazon リンク</h3>
<hr>
<h2 id="delonghi-デロンギ-マルチダイナミックヒーター-mdhu12-bk-電気ヒーター-ゼロ風暖房-節電-直感操作クリックノブ-リモコン付き-表面温度約-60-節電-8-10-畳-ピュアホワイト--マットブラック-デロンギファミリー登録で-5-年保証"><a href="https://www.amazon.co.jp/dp/B08FM4J7YC?tag=stellorbit-22">De'Longhi (デロンギ) マルチダイナミックヒーター MDHU12-BK 電気ヒーター ゼロ風暖房 節電 直感操作クリックノブ リモコン付き 表面温度約 60℃ 節電 [8-10 畳] [ピュアホワイト × マットブラック] デロンギファミリー登録で 5 年保証</a></h2>
<p>今回の記事は、こいつを 1 か月くらい使い倒し、電気アプリ（Looop でんき）と睨めっこしながら奮闘した記録とレビューです。</p>
<p>デロンギだけでなく、ユーレックス(eureks)やディンプレックス(Dimplex)等からも同じような製品が出ているので、購入を考えている方の参考になれば幸いです。</p>
<p>というか、オイルヒーターと比べて設計が簡単…というか、オイルを入れる必要がない分、<strong>新興メーカーもいくらか入ってきています。</strong></p>
<p>今後熱いバトルが予想されそうなカテゴリ、<strong>その老舗の製品は果たしてどうなのか？</strong></p>
<p><strong>本音でレビューします</strong>。レンタルとはいえ自腹なんで。</p>
<h3 id="序章出会い">序章：出会い</h3>
<p>デロンギといえばコーヒーメーカーだけでなく、<strong>「オイルヒーター」</strong> でも有名な企業です。</p>
<p>一昨年ごろ、「オイルヒーターって昔聞いたな・・・どうなんだろう」って某家電量販店をうろついていたら、<strong>とんでもない製品を発見。</strong></p>
<p>スタッフさんの話によると、なんと、**「オイルが入っていないオイルヒーター」**なるものがあるとのこと。</p>
<p>それが「マルチダイナミックヒーター」、そして「オイルレスヒーター」との出会いでした。</p>
<p><strong>「オイルが入ってないオイルヒーター」とかいうド矛盾。</strong> こう説明するしかないんですよホントに。すみませんね。</p>
<p>しかし、**価格はおよそ６～７万円。**たっけえなオイ。</p>
<p>しかし、それを出してしまってでも手に入れたい理由がありました。</p>
<h3 id="2024-25-シーズンの自室の暖房器具事情">2024-25 シーズンの自室の暖房器具事情</h3>
<p>これまで自室の温かさを牽引してきたのは、<strong>ガスファンヒーター</strong>でした。</p>
<p><img src="/images/posts/delonghi-mdh-conquer/heaterfeatmdh.webp" alt="ガスファンヒーターとMDHU12が並んでいる写真"></p>
<p>ベテランと新入りのツーショット。</p>
<p>ただ、この手の暖房器具、<strong>自分は使っちゃいけないタイプだと思いながらずーっと使い続けてきました。</strong></p>
<p>というのも、やはり「特性」というものがあるので、</p>
<ul>
<li><strong>寝落ち</strong></li>
<li><strong>無換気</strong></li>
<li><strong>付けっぱなし</strong></li>
</ul>
<p>と、前科モリモリなわけです。</p>
<p>しかもガスファンヒーターは製造年から数えて<strong>15 年選手。</strong></p>
<p>更に<strong>代わりの先発</strong>として機能してほしい<strong>エアコンがガス抜けなのかなんなのか役に立たない</strong>という始末。</p>
<p>そんな感じで、代わりの暖房を探していたときに・・・<strong>序章に戻ります。</strong></p>
<h3 id="第-2-章我が家の冷暖房効率は絶望的で変則的だった">第 2 章：我が家の冷暖房効率は・・・絶望的で、変則的だった</h3>
<p>てなわけでマルチダイナミックヒーターやオイルレスヒーターを昨年から調べていたのですが、</p>
<p>子供のころから聞いていたことを思い出しました。</p>
<p>**「オイルヒーターは電気代食うけど、あの温かさが最高。ただ電気代は高い。」**と。</p>
<p>とはいえ、<strong>オイルレスで進化したマルチダイナミックです</strong>。期待しながら実際のレビューを見てみると・・・</p>
<p><strong>「オイルヒーターと変わらん」</strong> <strong>「湿気対策で気密性の低い日本の住宅に不向き」</strong> **「電気代がえらいことになった」**と、</p>
<p>どっかで見たことあるレビューがずらり。</p>
<p>ちなみに「日本の住宅に不向き」というレビューは<strong>後にとんでもない疑問を生むことになります。</strong></p>
<p>なお、オイルヒーターの時代から<strong>断熱や隙間風対策に気合を入れ、なるべくロスをなくすべく努力</strong>している方もいらっしゃいます。</p>
<p>というわけで、<strong>俺もいっちょやったるか</strong>！と奮起。それが<strong>沼だと知らずに。</strong></p>
<h3 id="ヒーターは窓際に置け置いても無駄な冷気の意外な発生源">「ヒーターは窓際に置け」？置いても無駄な冷気の意外な発生源</h3>
<p>※以下「マルチダイナミックヒーター」は「MDH」と表記します。</p>
<p>MDH のレビューやメーカー HP にある説明を見ると、どうも「<strong>窓際に置く</strong>」のがセオリーらしいです。</p>
<p>窓から冷気が流れ込む「<strong>コールドドラフト</strong>」を防ぐためだとか。</p>
<p>それならと、予行練習でガスファンヒーターを窓際に移動し、一晩それで過ごしてみました。</p>
<p><strong>…いつもの暴力的な温かさがない。</strong></p>
<p>そう思いながら反対側に行くと・・・</p>
<p><strong>ドアから好きなだけブチかませ隙間風。おまけにドアも冷たい。</strong></p>
<p><strong>犯人はお前か！！！！！！</strong></p>
<p><strong>そんな感じで、急遽俺たちのオアシス「ダイソー」で隙間風対策グッズをいろいろ買ってきました。</strong><br />
そしたら効果は・・・若干あっても、<strong>ドア自体が冷たい。あかん。</strong></p>
<p>というのも、我が家は<strong>40 年築の軽量鉄骨のアパート。しかも窓のサッシ見る限りなんか歪んでる。</strong></p>
<p><strong>いくらダイソーで揃えるといっても金がかかりすぎるぞこれ。</strong></p>
<p>そう思い、可能な範囲で留めて、ガスファンヒーターの代わりにエアコンつけたら<strong>なんか温度が上がらない。</strong></p>
<p>ガスファンヒーターを使っていた期間で拗ねたか？24 度でバチバチにいけたのに結構上げないと効かない。</p>
<p>本来エアコンって暖房効率は<strong>電気系で最強の座を譲らない省エネの王者</strong>のはず。でも効かない。</p>
<p>急遽サーキュレーターを調達してみたものの、その月の電気代は<strong>1 万円弱。</strong></p>
<p>ちなみに夏の冷房はいつもの大活躍。なんで？</p>
<p>そんなこんなで、本番は来年へ持ち越し。</p>
<h3 id="第-3-章2025-26-シーズンついに-mdh-導入">第 3 章：2025-26 シーズン、ついに MDH 導入</h3>
<p>とりあえず冬場のスポットで借りるつもりで、Rentio でレンタルしました。</p>
<p>モデルは「<strong>MDHU12</strong>」という、<strong>24 時間タイマー付き・Wi-Fi なし</strong>の下から 2 番目のモデル。</p>
<p><strong>最大消費電力 1200W、適応畳数 8-10 畳</strong>のモデルです。</p>
<p>昨年（というか当時的に今年）の屈辱を晴らすべく、<strong>隙間風対策の強化、ドアに断熱シートを貼ってテコ入れ</strong>を行い、クリスマスの翌日に<strong>満を持して登板。</strong></p>
<p>ちなみに Rentio では MDH や他社製オイルレスもさることながら<strong>オイルヒーターも大人気</strong>で、返却待ち続出でした。</p>
<p>MDH がなかったからオイルに流れたのか、それともなんかハマる要素あるのかな？蓄熱性はやっぱいいらしいですね。</p>
<p>ちなみに<strong>初月半額と次月から 3 か月割引</strong>とのことでしたが、それでも月 4000 円くらいする。たけえ。</p>
<p>ここから、<strong>MDH と俺の闘いが始まります。</strong></p>
<h2 id="闘いの記録そしてレビュー">闘いの記録、そしてレビュー</h2>
<p>てなわけで、デロンギ MDH との闘いとともにレビューを同時並行で行います。</p>
<h3 id="8-10-畳用でも力不足木造や軽量鉄骨はデカめのサイズを選ぶべし">8-10 畳用でも力不足！？木造や軽量鉄骨はデカめのサイズを選ぶべし</h3>
<p>先述の通り、我が家は軽量鉄骨のアパートなんですが、1R で仕切りがなくカーテンでどうにかしていたので、<strong>実質 8 畳半相当くらいはあると思います。</strong></p>
<p>しかも残酷なことに、<strong>この手の暖房器具は最新の省エネ住宅</strong>が前提の表記のため、<strong>そのまま木造や軽量鉄骨に当てはまるわけではありません。</strong></p>
<p>そんなわけで、<strong>1200W のフルパワーも鼻で笑われました。</strong></p>
<p><strong>一度時間を測ったのですが、24 度設定・1200W 稼働</strong>で実験した結果、<strong>35 分経ってもろくに温度が上がらない</strong>という散々な結果。</p>
<p>なので、もし木造・軽量鉄骨や、RC 造でも気密性が怪しい場合は<strong>MDH なら 3 種類あるうちの一番デカい 1500W</strong>のモデルを買ったほうがいいです。</p>
<p>他のメーカーなら<strong>10-13 畳くらいのクソデカ部屋向け</strong>にしましょう。じゃないとおっつかん。</p>
<p>気密性怪しくてデカい部屋はもう<strong>諦めろ。これを選ぶべきではない。</strong></p>
<h3 id="契約電力に気をつけろ壁コン直は鉄則">契約電力に気をつけろ。壁コン直は鉄則</h3>
<p>これは皆さん気を付けてください。<br />
自分の場合は契約電力量は 30A なんですが、物件が昔すぎてうち<strong>15A がなんとエアコン占有</strong>、残りの 15A を他の部屋で分け合っている状況でした。</p>
<p>うちのエアコン<strong>木目じゃないですよ</strong>？？？なんならごく最近のモデルですよ。</p>
<p>対策の究極の一手として、<strong>エアコンをひっこ抜き、一番電力量を食っていた PC 周りをエアコン占有のコンセントにブッ刺し</strong>てマージンを確保しました。</p>
<p>今のところブレーカー落ちはなし。</p>
<p>あと、<strong>延長コードやタップはマジで NG です。最悪燃えます</strong>。自分は危うく<strong>燃やすところでした。</strong></p>
<p><strong>ワットチェッカーやスマートプラグももちろんダメ。</strong></p>
<p>多分燃える云々の前にロスが発生しそうだし、壁コンダイレクトが一番です。</p>
<p>取扱説明書はちゃんと読みましょう。</p>
<h3 id="暖かさを求めるな求めるなら補助暖房必須">「暖かさ」を求めるな。求めるなら補助暖房必須</h3>
<p>オイルヒーター系すべてに共通するものだと思うのですが、<br />
こいつを主力にした瞬間、<strong>「暖かさ」が一気に贅沢品になります。</strong></p>
<p>断熱性能にもよりますが、<strong>そもそも「即暖」を求めるものではありません。</strong></p>
<p>MDH のカタログに誇らしげに「<strong>従来品の 2 倍の即暖性！</strong>」って書いてありましたが、<strong>まあ察するもの</strong>があります。</p>
<p>はい、<strong>最新省エネ住宅で 25 分です。</strong></p>
<p>というか<strong>お前んとこ元々オイルヒーターと卓上ヒーターだけやろがい！！！！！</strong></p>
<p>そんなわけで、巷で言われるような「陽だまりのような、春の陽気のような温かさ」を求めるなら…</p>
<p>**「翌月の電気代、わかっとるやろうな？」**と強面の人が囁いてくる気分です。</p>
<p>腹をくくるか、「Looop でんき」などの市場連動型をお使いなら、安い時間帯に思い切って贅沢をかましましょう。</p>
<h3 id="最適な用途は寒くない部屋をつくる一番威力を発揮する温度設定と場面">最適な用途は「寒くない部屋」をつくる。一番「威力を発揮する」温度設定と場面</h3>
<p>MDH やオイルレスに最適な用途、それは「<strong>寒くない環境づくり</strong>」だと思っています。</p>
<p>自分もそれを目論んで導入しました。</p>
<p>MDH の一番「威力を発揮」する温度設定。それは・・・</p>
<p><strong>ズバリ「16－17 度</strong>」です。</p>
<p>すごく低いと感じるかもしれません。</p>
<p>しかし、考えてみてください。</p>
<p><strong>帰ってきたときに部屋がこの温度だったら？</strong></p>
<p><strong>朝起きたとき、部屋がこの温度なら？</strong></p>
<p>寒い外から帰ってきたら部屋の中も寒くて急いで暖房をつけて暖まるのを待つあの時間。</p>
<p>朝起きた時のあの憂鬱。</p>
<p><strong>それらの苦痛を軽減する用途にメッチャ使えます。</strong></p>
<p>ただ、<strong>ちゃんと断熱対策をしないと夜中に電気代を食う魔物と化します。</strong></p>
<p>窓用のプチプチの断熱シート・アルミ断熱シート・隙間風対策のモール…</p>
<p><strong>全部ダイソーにあります。困ったらピンクの看板を目指しましょう。なるべくデカい店がいいです。</strong></p>
<p>ちなみに、だいたい「<strong>季節商品</strong>」の棚にあるか、クリスマス・正月などのイベントが近いとき以外は<strong>特設で棚があったりします。</strong></p>
<h2 id="1-か月の闘いのまとめかなり癖が強すぎて最近の趣味が-mdh-とのバトルになった"><strong>1 か月の闘いのまとめ：かなり癖が強すぎて、最近の趣味が MDH とのバトルになった。</strong></h2>
<p>いやマジでこれです。</p>
<p>MDH のエネルギーを損失させずに使うべく、断熱シートを貼る場所を増やしたり、</p>
<p>サーキュレーターをあちこち移動させたり、</p>
<p>Perplexity（Claude Sonnet 4.5）に<strong>汚い部屋の写真を送って配置のアドバイスをもらったり、</strong></p>
<p>しまいにゃ引退させるつもりだった<strong>ガスファンヒーターまで登板</strong>させました。</p>
<p>しかも配置の仕方も縦に置くか横に置くかでかなり粘ったりと、自分にとって MDH は暖房器具というより「<strong>遊び道具」や「玩具</strong>」の類でした。仮面ライダー勢の変身ベルトとかと一緒です。</p>
<p>ただ、自宅の断熱性能が性能なので、多分難易度的に「<strong>PLv 低いときの学マス NIA プロ</strong>」とか、自分は触ったことがないんですが<strong>フロムゲー</strong>とか、そのくらいはあるんでは？と思います。</p>
<p>で、次の項では<strong>残酷な話をします。</strong></p>
<p>いや、残酷ではないかもしれません。<strong>ある種、有名メーカーがやりがちな「アレ」だな、と思ったので。</strong></p>
<h2 id="革新的に見えるという幻想否進歩は感じる">「革新的に見える」という幻想？否、「進歩」は感じる</h2>
<p>従来のオイルヒーターを使っていた方、それらを自分のように話に聞いていた方々は特に「<strong>オイルが入ってなくて早く暖まるだと！？</strong>」と、なんか<strong>革新的に見えて</strong>しまって、家電量販店で見かけたら<strong>分割払いで衝動買い</strong>しそうな代物なんですが・・・</p>
<h3 id="ちょっと待ってください"><strong>ちょっと待ってください。</strong></h3>
<p>まず、こういうタイプのヒーターって、形こそ違えど昔からあったんです。</p>
<p>そう、<strong>「パネルヒーター</strong>」という名前で。</p>
<p>【PR】Amazon</p>
<hr>
<h2 id="teknos-パネルヒーター壁掛との-2way寒冷地仕様シーズ管-sp-003w"><a href="https://www.amazon.co.jp/dp/B0FSK8J61M?tag=stellorbit-22">TEKNOS パネルヒーター&#x26;壁掛との 2WAY(寒冷地仕様・シーズ管) SP-003W</a></h2>
<p>こちらはスポットでの暖房特化ですね。</p>
<p>更に、実は<strong>デロンギ自身</strong>が、パネルヒーターを大型化した「<strong>コンベクターヒーター</strong>」という代物を出しています。</p>
<p>【PR】Amazon</p>
<hr>
<h2 id="delonghi-デロンギ-コンベクターヒーター-hxj60l12-電気ヒーター-窓際暖房-速暖-乾燥しにくい-燃料補充不要-チャイルドロック-安全設計-8-10-畳-グレー-デロンギファミリー登録で-5-年保証"><a href="https://www.amazon.co.jp/dp/B01KO0ILXI?tag=stellorbit-22">De'Longhi (デロンギ) コンベクターヒーター HXJ60L12 電気ヒーター 窓際暖房 速暖 乾燥しにくい 燃料補充不要 チャイルドロック 安全設計 [8-10 畳] [グレー] デロンギファミリー登録で 5 年保証</a></h2>
<p>窓際に置いてコールドドラフトを防ぐことに特化したものらしいですが・・・</p>
<p><strong>それオイルヒーターとか MDH の推奨位置！！</strong></p>
<p>多分デッケエ掃き出し窓用だと思いますが、にしては 8-10 畳かあ…ってなります。</p>
<p>ちなみに、家電量販店の実店舗で 3-5 万くらいですが、<strong>在庫処分時期になると 2.5 万とか、展示処分 2 万切りとかザラ</strong>なんですよねこれ。</p>
<p>あくまで個人的イメージですが、だいたい気密性高くて窓デカいところって<strong>床暖房</strong>とかあったり、<strong>エアコンでだいたいカバーできる</strong>ケースが多いんで、あんま刺さる人いないのかなって。</p>
<p>まあそれはどうでもよくて、デロンギの MDH は</p>
<p><strong>「パネルヒーターをオイルヒーターの機構に当てはめた」もの</strong>だと感じました。</p>
<h3 id="デロンギによる車輪の再発明とそこから生まれた進化">デロンギによる「車輪の再発明」と、そこから生まれた「進化」</h3>
<p>そんなわけで、MDH の製品群は</p>
<p><strong>「車輪の再発明でオイルヒーターの弱点を克服しにかかった</strong>」製品だな、と個人的に思いました。</p>
<p>というのも、オイルヒーターと比較して<strong>即暖性以外で勝てる部分</strong>ってのがあるんです。</p>
<p>それは「<strong>軽さ」。</strong></p>
<p>オイルヒーターはその名の通りオイルが封入してあるので、本体重量が<strong>MDH に比べて 5kg ほど重かったりします。</strong></p>
<p>単なる想像ですが、オイルヒーターの仕組みの図を見る限り、<strong>本体下部にオイルが入っていて、加熱すると循環する</strong>仕組みだと思われます。</p>
<p>封入されているオイルの量はだいたい 2-4L らしいので、比重を考慮すると、<strong>本体の下のほうに 1.8kg-3.6kg の錘、それを温めるヒーターが入った物体</strong>を動かすのは結構力がいりそうです。更に封入されている箇所の重量もあります。</p>
<p>それに対して MDH の場合は、オイルの代わりに<strong>本体の両側にある金属モジュールを加熱</strong>する方式。</p>
<p>つまり、<strong>「重量が偏ってないので、体感で軽く感じる</strong>」わけです。</p>
<p>これはオイルヒーターはわかりませんが、MDH のほうは<strong>自分で持って確認しました。</strong></p>
<p>両端のモジュール以外の目立った重量物がないおかげか、<strong>どっかに偏ることがありません。</strong></p>
<p>おかげですっごい部屋中コロコロできます。<strong>なんならドリフトできますよ。（やめましょう）</strong></p>
<p>購入当初は置き場所が定まらないのであちこち移動させるとか、2 階建て以上なら上の寝室に持っていくとか、そういう格闘が簡単にできます。</p>
<h3 id="おまけオイルヒーターと比較したときの弱点">おまけ：オイルヒーターと比較したときの「弱点」</h3>
<p>自分はオイルヒーターを持ったことがないので、あくまで想像でしかないのですが、</p>
<p>オイルヒーターの中のオイルは<strong>熱を「蓄える</strong>」ので、<strong>電源を切っても 30 分くらい温かい</strong>という話をよく聞きます。</p>
<p>30 分も耐えるとしたら、MDH をはじめとしたオイルレスは<strong>勝ち目がありません。電源を切ったり稼働が止まったそばからすぐ冷えるので、ほんの十数分もしないうちに手で触れる温度に到達します。</strong></p>
<p>オイルヒーターの延長線で買ってちょっとがっかりした人が何人かいそうですね。</p>
<h2 id="デロンギ-mdh-は中古価格が異様に安いのでリユース市場は狙い目ただその理由もある">デロンギ MDH は中古価格が異様に安いのでリユース市場は狙い目。ただその理由もある</h2>
<p>さて、デロンギ MDH に興味を持ち始めた人や前々から「<strong>ほしいけど・・・高い・・・</strong>」と思っている方が結構いらっしゃると思います。</p>
<p>そんなあなたにお勧めな方法があります。</p>
<p>今すぐ<strong>メルカリ・ラクマ・Yahoo!フリマを徘徊しましょう。</strong></p>
<p>なんなら更に<strong>ジモティー</strong>も探してみましょう。</p>
<h3 id="中古相場で狙い目の-mdh2-機種">中古相場で狙い目の MDH2 機種</h3>
<p>お安めのものをお探しであれば、以下 2 機種に絞りましょう。</p>
<p>[table]</p>
<p>フラッグシップ機種のソラーレ（IDH15）についてはまだお高いですが、</p>
<p>それでも「<strong>5-6 万円台</strong>」と、公式価格の 8 万円台よりは落ち着いています。</p>
<p>【PR】<strong>2025/2/1 時点で IDH15(Wi-Fi 非対応モデル)が 59,000 円＋ポイント 10%！！</strong></p>
<hr>
<h2 id="デロンギ-マルチダイナミックヒーターソラーレ-最大-13-畳-ゼロ風暖房-オイルレスヒーター-ピュアホワイト-idh15-wg-デロンギファミリー登録で-5-年保証修理も原則-72-時間以内対応"><a href="https://www.amazon.co.jp/dp/B0DF2FTTL7?tag=stellorbit-22"><strong>デロンギ マルチダイナミックヒーターソラーレ 最大 13 畳 ゼロ風暖房 オイルレスヒーター ピュアホワイト IDH15-WG 【デロンギファミリー登録で 5 年保証、修理も原則 72 時間以内対応】</strong></a></h2>
<h3 id="wi-fi-モデルは個人的に非推奨">Wi-Fi モデルは個人的に非推奨</h3>
<p>デロンギ MDH には 2 機種ほど Wi-Fi モデルがあるのですが、それらはあえて外しました。</p>
<p>理由としては、</p>
<ul>
<li>対応周波数帯域が 2.4GHz のみ</li>
<li><strong>セキュリティが WPA2-PSK まで（脆弱性が指摘されている）</strong></li>
</ul>
<p>IoT 関連は仕方がないのかもしれませんが、だいたい 2.4GHz・WPA2 までしか対応していないケースが多いんですよね。</p>
<p>これらを対策できたとしても、アプリのレビューを見たら<strong>酷評だらけ</strong>だったので、紹介しませんでした。</p>
<h3 id="中古の不安要素デロンギ-mdh-の温度表示画面に時限爆弾があるそして筐体も少しヤワ">中古の不安要素：デロンギ MDH の温度表示画面に「時限爆弾」がある、そして筐体も少しヤワ？</h3>
<p>紹介した 2 モデルの中でも安値で推移しているのは、<strong>2017 年に発売された「U」のほうです。</strong></p>
<p>これは単に年数が経過しているという<strong>だけの話ではなく、モデル特有のある「時限爆弾」があるんです。</strong></p>
<p>それが「<strong>温度表示画面の不良（セグ欠け等）</strong>」です。</p>
<p>ただ、これは欠けている箇所にもよります。</p>
<p>電源が切れているときは<strong>時間が表示</strong>され、電源 ON の状態だと<strong>温度が常時表示されます。</strong></p>
<p>タイマー機能を使う場合は少し支障が出ますが、<strong>左側の「2」の表示の上が欠けてる・・</strong>・ならそんなに問題はないでしょう。</p>
<p>ただ、中には<strong>何も映らない</strong>個体もありました。</p>
<p>おそらく部品取りを調達して自力で修理できる方には良いんでしょうね。多分自分もそうします。</p>
<p>また、<strong>モジュールやモジュール以外の筐体部分の凹み</strong>などで安値になっているものもありました。</p>
<p>自分が見かけたのは結構ベコッといってたので、ちょっとこれは流石に・・・と思いました。</p>
<h2 id="本当にまとめ購入使用まで工夫の余地がある冬限定の娯楽品">本当にまとめ：購入～使用まで工夫の余地がある冬限定の娯楽品</h2>
<p>今回はデロンギ マルチダイナミックヒーターとの<strong>格闘</strong>の記録とレビューをお送りしました。</p>
<p>個人的には、MDH を実際に使ってみて<strong>結構学びを得た部分</strong>があります。</p>
<p>導入前～導入直後に<strong>契約電力上げられなくて頭抱えたり、</strong></p>
<p>導入 2 日目に<strong>ラグジュアリーな使い方</strong>をしてその日の電気代のグラフで青ざめたり、</p>
<p>サーキュレーターや加湿器を適切に置くために<strong>汚部屋を掃除</strong>したり・・・</p>
<p><img src="/images/posts/delonghi-mdh-conquer/kwh.webp" alt="電気代を見られるアプリで電気代が高くなっていることを示した図"></p>
<p>しかし、まだ闘いはこれから。</p>
<p>少し気に入ってしまったのもあって、とりあえず中古品を探してる最中。</p>
<p>レンタルしてる U12 は 2 か月で返却する予定です。</p>
<p>油断してたらもうすぐ梅が咲きそうな時期、<strong>明々後日は立春</strong>というこんな時期に暖房器具の話題を長々とお届けしました。</p>
<p>ここまで読んでいただき、ありがとうございます。</p>
<p>それでは。</p>
