<h2 id="intro">Xのプロダクト責任者から発表された衝撃の内容。</h2>

	<p>
		日本時間2026年4月23日、Xのプロダクト責任者であるNikita Bier氏のポストにて、Xに関する大きな変更が発表されました。
	</p>

<h2 id="nikitasaid">2つの「大きな変更」</h2>
	<p>
		発表された内容は以下の通りです。
	</p>

	<h3 id="groupchat">グループチャット機能</h3>
	<p>
		Xの「チャット」機能はこれまでDMの後継機能でしたが、公開リンクを作成してタイムラインに共有できるようになります。

		いわばLINEのオープンチャットのような機能で、発表当初は350人上限でしたが、<b>4/24より500人</b>規模に対応し、数週間以内に<b>1000人まで対応予定</b>とのことです。

		名言はされていませんが、今後はスペースや通話機能などとの連携の強化も期待されます。
	</p>

	<h3 id="com-deprecation">「コミュニティ」機能の非推奨・廃止</h3>
	<p>
		Xの「コミュニティ」機能は2026年5月6日に<b>「非推奨」となり、5月30日までにチャット機能へ移行が必要とのことです。</b>

		おそらく、6月以降ユーザーは従来のコミュニティ機能を利用できなくなります。また、現時点でコミュニティ内のコンテンツの引き継ぎ可否などは不明です。
	</p>
<h2 id="impact">影響と今後の展望</h2>
	<p>
		この発表を受けて、Nikita氏のポストには多くのユーザーからのコメントが寄せられています。

		特に大規模なコミュニティを運営しているユーザーから<b>キャパシティの不足</b>が指摘されており、X側も方針転換をしていますが、それでも足りないとの声が挙がっています。

		日本国内にも大規模なコミュニティは複数あり、「1000人では足りない」という声も多いと予想されます。
	</p>
	<h3 id="mycommunity">実は影響をモロに受けています・・・</h3>

		自分が運営メンバーの一員として活動している<a href="https://x.com/i/communities/1595267925761355776" target="_blank">「雀クラ＠雀魂コミュニティ」</a>は約1,164人のメンバーがおり、全員の移行は初期段階では難しい状況です。

		Discordサーバーなどに案内するなどの対応も考えていますが、Xのスペース機能を活用している関係上、違うプラットフォームへの移行はメンバーにとって大きな負荷になります。

		猶予はまだ少しありそうなので、リーダーや他の運営メンバーと協議しながら、コミュニティの移行をスムーズにできるように尽力していきたいと思っています。
	</p>
