---
// src/pages/index.astro
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await getCollection('blog');
---

<BaseLayout title="Home">
  <h1>記事一覧</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.id}/`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
